body{
    background-color: aquamarine;
    color: cadetblue;
}

h1{
    color: #06bdc4;
    font-size: 33px;
}

p{
    color: white;
    font-size: 20px;
}

header{
    border-bottom: solid 3px white;
    font-size: 40px;
    color: bisque;
    padding: 15px;
}